<div class="post">
  <%= link_to post.id, post %>
  <br>
  Author: <%= post.author.name %>
  <br>
  <%= post.body %>

  <%= render 'likes/like', post: post %>

  <% if post.likes.count > 0 %>
    <br>
    Likes: <%= post.likes.count %>
  <% end %>
  <% if post.comments.count > 0 %>
    <br>
    Comments: <%= post.comments.count %>
  <% end %>
</div>