<style>
    #menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #menu li {
        display: inline-block;
        margin-right: 20px;
        position: relative; /* Added for positioning the badge */
    }

    #menu li a {
        display: block;
        text-decoration: none;
        color: #333;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
    }

    #menu li a:hover {
        background-color: #f0f0f0;
    }

    #menu li a.disabled {
        pointer-events: none;
        cursor: default;
        color: gray;
        text-decoration: none;
    }

    .notification-badge {
        position: absolute;
        top: 0;
        right: 0;
        background-color: red;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        text-align: center;
        color: white;
        font-size: 8px;
        font-weight: bold;
        line-height: 10px;
        font-family: sans-serif;
    }

    p.alert {
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        color: #721c24;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 20px;
    }

    p.notice {
        background-color: #d4edda;
        border: 1px solid #c3e6cb;
        color: #155724;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
</style>
<ul id="menu">
  <li>
    <a href="<%= root_path %>" class="<%= 'disabled' if request.path == root_path %>">
      Home
    </a>
  </li>
  <li><a href="<%= users_index_path %>" class="<%= 'disabled' if request.path == users_index_path %>">Users</a></li>
  <li><a href="<%= posts_path %>" class="<%= 'disabled' if request.path == posts_path %>">Posts</a></li>
  <% if current_user %>
    <li>
      <a href="<%= friendships_index_path %>" class="<%= 'disabled' if request.path == friendships_index_path %>">
        Friends
        <% if @friendship_invitations > 0 %>
          <span class="notification-badge"><%= @friendship_invitations %></span>
        <% end %>
      </a>
    </li>
    <li style="float: right;">
      <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
    </li>
  <% else %>
    <li>
      <%= link_to 'Log In', new_user_session_path %>
    </li>
    <li>
      <%= link_to 'Sign Up', new_user_registration_path %>
    </li>
  <% end %>
</ul>